/* 핀 컨테이너 */
.mobile-pins,
.desktop-pins {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* 공통 핀 스타일 */
.map-pin {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    z-index: 10;
    transition: all 0.2s ease-in-out;
    pointer-events: auto;
}

/* 데스크톱 기본 크기 */
.desktop-pins .map-pin {
    width: 3%;
    height: 5.5%;
    /* background-color: rgba(255, 255, 0, 0.5) !important;
    border: 2px solid red !important; */
}

/* 모바일 기본 크기 */
.mobile-pins .map-pin {
    width: 6%;
    height: 3%;
    /* background-color: rgba(255, 255, 0, 0.5) !important;
    border: 2px solid red !important; */
}

.map-pin:active {
    transform: translate(-50%, -50%) scale(0.95);
}

.dragon-pin {
    border-radius: 15%;
}

/* ▼▼▼ [추가] 비디오 기본 재생 버튼 숨기기 (모바일 대응) ▼▼▼ */
video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: none !important;
}

video::-webkit-media-controls-panel {
    display: none !important;
}